.myGrid {
    width: 80%;
    height: 425px;
}

.textboxfilter {
    background-color: white;
    border: 1px solid #d4d4d4;
    display: inline-block;
    position: relative;
    width: 95%;
    margin-bottom: 5px;
}


    .textboxfilter input,
    .textboxfilter button {
        background-color: transparent;
        border: 0;
    }

    .textboxfilter .inputclear {
        position: absolute;
        right: 0;
        top: 3px;
    }

    .textboxfilter .inputok {
        position: absolute;
        right: 20px;
        top: 3px;
    }

    .textboxfilter input {
        padding-left: 10px; /* button padding */
        width: 100%;
    }

.popover-medium {
    /*position: relative;*/
    /*max-width: 250px;*/
}

.helperButton {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #666;
    cursor: pointer;
    display: inline;
    font-size: 13px;
    height: 26px;
    line-height: 1.6;
    margin: 0 0 8px;
    text-align: center;
}

.filterTable {
    height: 150px;
    overflow-y: auto;
}

.ui-grid-icon-angle-down::before {
    content: "썞";
    position: absolute;
    right: 1px;
    top: 3px;
}

.cursorhand {
    cursor: pointer;
    cursor: hand;
}
