<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
<script src="~/Scripts/linq.js"></script>
<script src="~/Scripts/angularjs-dropdown-multiselect.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="~/Scripts/ui-grid.js"></script>
<link href="~/Content/ui-grid.css" rel="stylesheet" />
<link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />


<script src="~/App/Controller/MainCtrl.js"></script>
<link href="~/App/Styles/MainCtrlStyle.css" rel="stylesheet" />

<br />
<br />

<body ng-app="myApp">
    <div ng-controller="MainCtrl">
        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns class="myGrid"></div>

        <uib-pagination total-items="totalItems" ng-model="pagingOptions.currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"
                        items-per-page="pagingOptions.pageSize"
                        ng-change="pageChanged()"
                        num-pages="numPages">
        </uib-pagination>
      
    </div>

    <div id="multifiltertemplate" class="popper-content hide">
        <div>
            <div>
                <button class="helperButton" ng-click="select('all', $event );"
                        ng-disabled="isDisabled" type="button">
                    ✓&nbsp;&nbsp;All
                </button>
                <button class="helperButton" ng-click="select( 'none', $event );" ng-disabled="isDisabled" type="button">×&nbsp;&nbsp;None</button>
                <!--<button class="helperButton" ng-click="select( 'reset', $event );" ng-disabled="isDisabled" type="button">↶&nbsp;&nbsp;Submit</button>-->

            </div>
            <div class="textboxfilter">
                <input type="text" ng-model="search" placeholder="Search.." />
                <button ng-click="clearSearch()" class="inputclear glyphicon glyphicon-remove-circle"></button>
            </div>
        </div>
        <table class="filterTable table table-striped">
            <tr ng-repeat="row in [{ Selected:false,Text:'pan'},{ Selected:false,Text:'dhami'}]">
                <td><input type="checkbox" ng-model="row.Selected" /> </td>
                <td>{{row.Text}}</td>
            </tr>
        </table>
    </div>
</body>